body {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    
    
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 15px 100px;
   
}
.title {
    width: 500px;
}
.header-links {
    text-decoration: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 30px;
    align-items: center;
    width: 500px;
    justify-content: flex-end;
}
.hero {
    display: flex;
    margin: 100px;
    flex-direction: row;
    flex: none;
    justify-content:space-between;
 

    
}
.text {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    

}
.main {
    font-size: 70px;
    margin: 0px;
}

.sub {
    color: #E5e7eb;
}


button {
    background-color: #3882f6;
    border:none;
    text-align: center;
    padding:8px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    max-width: 100px;
    
}
.info {
    margin-top: 100px;
    background-color: #f9faf8;
}
.info-header {
    font-size: 36px;
    text-align: center;
    font-weight: bolder;
    color: #1f2937;
}
.info-main {
    display: flex;
    color: #1f2937;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;
    margin-bottom: 50px;

}
.team-info {
    max-width: 250px;
}
.team-info img {
    height: 225px;
    width: 250px;
    border: #3882f6 5px solid;
    border-radius: 10px;
}

.quote {
    display: flex;
    background-color: #e5e7eb;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    justify-content: center;
}

.quote-main {
    width: 1000px;
    margin: 50px;
}
.quotee {
    font-weight: bold;
}

.call-to-action {

    display: flex;
    background-color: #f9faf8;
    justify-content: center;
    padding: 100px;
}

.call-main {
    display: flex;
    justify-content: space-around;
    background-color: #3882f6;
    font-size: 20px;
    border-radius: 10px;
    padding: 60px 110px;
    width: 1300px;
}
.call-text p {
    margin: 0px;
}

.call-main button {
    border:solid 2px white;
    border-radius: 10px;
    font-size: 20px;
    padding: 0px 10px;
}

