body {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin: 25px 400px;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
.hero {
    display: flex;
    margin-top: 100px;
    flex-direction: row;
    flex: none;
    justify-content: space-between;
 

    
}
.text {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    

}
.main {
    font-size: 48px;
    margin: 0px;
}

.sub {
    color: #E5e7eb;
}
.header-links {
    text-decoration: none;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
    gap: 30px;
    align-items: center;
}

button {
    background-color: #3882f6;
    border:none;
    text-align: center;
    padding:8px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    font-weight: bold;
    max-width: 100px;
    
}
.info {
    margin-top: 100px;
}
.info-header {
    font-size: 36px;
    text-align: center;
}
